<link rel="import" href="../polymer/polymer-element.html">
<script type="text/javascript" src="lib/uuid.js"></script>

<dom-module id="sonar-loading-stack">
    <template>
        <style>
            :host {
                display: none;
            }
        </style>
    </template>

    <script>
        (function() {
            'use strict';

            const elements = [];
            const loadingStack = [];

            function register(item) {
                elements.push(item);
            }

            function unregister(item) {
                const index = elements.indexOf(item);

                if (index >= 0) {
                    elements.splice(index, 1);
                }
            }

            function startLoading(key) {
                loadingStack.push(key);

                notify();
            }

            function endLoading(key) {
                const index = loadingStack.indexOf(key);

                if (index >= 0) {
                    loadingStack.splice(index, 1);

                    notify();
                }
            }

            function notify() {
                elements.forEach(element => {
                    element._loadingStackChanged(loadingStack);
                });
            }

            /**
             * `sonar-loading-stack`
             * Distributed loading indicator
             *
             * @customElement
             * @polymer
             * @demo demo/index.html
             */
            class SonarLoadingStack extends Polymer.Element {

                static get is() {
                    return 'sonar-loading-stack';
                }

                static get properties() {
                    return {
                        loading: {
                            type: Boolean,
                            value: false,
                            observer: "_onLoadingChanged"
                        },

                        isLoading: {
                            type: Boolean,
                            value: false,
                            readOnly: true,
                            notify: true
                        },

                        _key: {
                            type: String,
                            value: ""
                        }
                    };
                }

                constructor() {
                    super();

                    this._key = UUID.generate();
                }

                connectedCallback() {
                    super.connectedCallback();

                    register(this);
                    this._onLoadingChanged(this.loading);
                }

                disconnectedCallback() {
                    super.disconnectedCallback();

                    endLoading(this._key);
                    unregister(this);
                }

                _onLoadingChanged(value) {
                    if (value) {
                        startLoading(this._key);
                    } else {
                        endLoading(this._key);
                    }
                }

                _loadingStackChanged(loadingStack) {
                    const isLoading = loadingStack.length > 0;
                    this._setIsLoading(isLoading);
                }
            }

            window.customElements.define(SonarLoadingStack.is, SonarLoadingStack);
        })();
    </script>
</dom-module>

