<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>sonar-loading demo</title>

    <script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../bower_components/iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../bower_components/iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../sonar-loading-stack.html">

    <custom-style>
        <style is="custom-style" include="demo-pages-shared-styles"></style>
    </custom-style>
</head>
<body>
<div class="vertical-section-container centered">
    <h3>Basic sonar-loading demo</h3>

    <demo-snippet>
        <template>
            <sonar-loading-stack loading></sonar-loading-stack>
            <sonar-loading-stack is-loading="{{isLoading}}"></sonar-loading-stack>

            <div>[[isLoading]]</div>
        </template>
    </demo-snippet>
</div>
</body>
</html>
